.App {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
}

h2{
    color: rgb(15, 142, 95)
}

.icon{
    max-width: 65px;
}

.pageimage {
    max-width: 300px;
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-fadeInFast {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
  }
  
  @keyframes fadeInFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-from-right {
    height: 1px;
    width: 100%;
    animation: fadeInFromRight 1s ease-in-out;
  }


  @keyframes fadeInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  .fade-in-from-left {
    width: 100%;
    animation: fadeInFromLeft 1s ease-in-out;
  }